html, body {
    font: 1.0em/1.3em Verdana, Arial, sans-serif;
    background: url('../img/rails-too.jpg') no-repeat;
    width: auto;
    background-position: 15%;
    color: #000;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100%;
}

ul {
    list-style: none;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    padding-bottom: 100px;
}

/* отступ должен быть равен высоте футера */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.otl {
    outline: 3px solid red;
}

.otl-2 {
    outline: 3px solid blue;
}

.otl-3 {
    outline: 3px solid black;
}

.header {
    width: 100%;
    min-height: 100px;
    /*
        background-color: #070707;*/
    margin-bottom: 100px;
}

.avatar {
    float: left;
    width: 100px;
    min-height: 100px;
    margin: 0 25px 0 50px;
    border-radius: 50% 50%;
}

.social {
    display: inline-block;
    width: 210px;
    height: 100px;
    float: right;
    margin-top: 30px;
}

.social li {
    display: inline-block;
    margin-right: 8px;
}

.main-content {
    width: 100%;
    min-height: 300px;
}

.content-quote {
    width: 550px;
    float: left;
    margin-left: 410px;
    background-color: rgba(128, 128, 128, 0.4);
    display: none;
}

.about {
    width: 650px;
    min-height: 400px;
    padding: 40px 80px 50px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
    border-radius: 8px;
    display: block;
    position: fixed;
    top: 90px;
    left: 20%;
    -webkit-animation: login-open 0.4s;
    animation: login-open 0.4s;
    z-index: 2;
    font-style: Verdana, Arial, sans-serif;
    font-size: 1,8em;
    line-height: 2,3em;
}

.about h2 {
    text-align: center;
    font-size: 28px;
}

.about a {
    text-decoration: underline;
}

.about li {
    list-style: square outside;
}

.about-me {
    width: 300px;
    min-height: 200px;
    float: left;
}

.skils {
    width: 300px;
    min-height: 200px;
    float: right;
}

.contacts {
    width: 800px;
    min-height: 400px;
    padding: 70px 80px 50px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
    border-radius: 8px;
    display: block;
    position: fixed;
    top: 90px;
    left: 13%;
    -webkit-animation: login-open 0.4s;
    animation: login-open 0.4s;
    z-index: 2;
    font: 0.8em/1.3em Verdana, Arial, sans-serif;
}

.contacts a {
    display: block;
    padding: 15px;
    line-height: 36px;
    font-size: 18px;
    text-align: top;

}

#mobile {
    position: relative;
    top: 10px;
    left: -5px;
}

#gmail{
    position: relative;
    top: 10px;
    left: -7px;
}

#skype {
    position: relative;
    top: 10px;
    left: -7px;
}

#mail {
    position: relative;
    top: 10px;
    left: -7px;
}
.contact-item {
    width: 400px;
    height: auto;
    float: left;
}

.photo {
    margin-top: 35px;
    width: 300px;
    height: 300px;
    float: right;
    background: url(../img/avatar.jpg) no-repeat;
    background-position: 50%;
    background-size: 100%;
    border-radius: 2px;
}

.footer {
    background-color: rgba(128, 128, 128, 0.4);
    position: relative;
    margin-top: -100px;
    height: 100px;
    clear: both;
}

.copy {
    position: absolute;
    top: -4%;
    left: 3%;
    width: 300px;
    height: 100px;
    margin-top: 40px;
}

.footer-nav {
    float: right;
}

.top-nav li {
    display: inline-block;
    margin: 20px 0 0 0;
}